{"openapi":"3.0.1","info":{"title":"MyScript IInk Batch Mode","description":"Service to recognize myscript iink in batch mode","contact":{"name":"MyScript support","url":"https://developer.myscript.com"},"license":{"name":"commercial license"},"version":"1.1.0"},"servers":[{"url":"https://cloud.myscript.com","description":"Generated server url"}],"paths":{"/api/v4.0/iink/recognize":{"post":{"tags":["Rest api for recognizer"],"summary":"Recognize iink","description":"This endpoint sends an json object representing an iink input to the recognition engine and sends back a payload whose format depends on the requested mime type. In case of error, an error object in json format is returned. That is why it is mandatory to ask in the Accept header the requested format + application/json","operationId":"recognize","parameters":[{"name":"applicationKey","in":"header","description":"The application key that was given during registration.","required":true,"schema":{"type":"string"}},{"name":"myscript-client-name","in":"header","required":false,"schema":{"type":"string"}},{"name":"myscript-client-version","in":"header","required":false,"schema":{"type":"string"}},{"name":"hmac","in":"header","description":"The HMAC signature of the payload, using the secret hmac key that was given during registration and SHA-512 algorithm. See https://developer.myscript.com/support/account/registering-myscript-cloud/#computing-the-hmac-value","required":true,"schema":{"type":"string"}},{"name":"Accept","in":"header","description":"A comma-separated list of mime types for the response. Must contain application/json as the error response is a json object. The first suitable mime type for the recognition type will be used as content type for the response","required":true,"schema":{"type":"array","items":{"type":"string"}},"example":"text/plain, application/json"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecognizeInput"}}},"required":true},"responses":{"400":{"description":"An error was found in the request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"200":{"description":"OK"},"401":{"description":"Wrong credentials","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"403":{"description":"Operation not permitted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"500":{"description":"Internal error. Please contact us for information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"406":{"description":"No suitable mime type was found for the response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/v4.0/iink/contextlessgesture":{"post":{"tags":["Batch mode"],"summary":"Recognize contextless gesture","description":"This endpoint recognizes gesture without any context from a group of strokes. Deprecated : use /api/v4.0/iink/recognize with content type equal to 'Gesture'","operationId":"contextLessGesture","parameters":[{"name":"applicationKey","in":"header","description":"The application key that was given during registration.","required":true,"schema":{"type":"string"}},{"name":"myscript-client-name","in":"header","required":false,"schema":{"type":"string"}},{"name":"myscript-client-version","in":"header","required":false,"schema":{"type":"string"}},{"name":"hmac","in":"header","description":"The HMAC signature of the payload, using the secret hmac key that was given during registration and SHA-512 algorithm. See https://developer.myscript.com/support/account/registering-myscript-cloud/#computing-the-hmac-value","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContextLessGestureInput"}}},"required":true},"responses":{"400":{"description":"An error was found in the request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"200":{"description":"OK"},"401":{"description":"Wrong credentials","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"403":{"description":"Operation not permitted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"500":{"description":"Internal error. Please contact us for information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}},"deprecated":true}},"/api/v4.0/iink/batch":{"post":{"tags":["Batch mode"],"summary":"Recognize iink","description":"This endpoint sends an json object representing an iink input to the recognition engine and sends back a payload whose format depends on the requested mime type. In case of error, an error object in json format is returned. That is why it is mandatory to ask in the Accept header the requested format + application/json","operationId":"batch","parameters":[{"name":"applicationKey","in":"header","description":"The application key that was given during registration.","required":true,"schema":{"type":"string"}},{"name":"myscript-client-name","in":"header","required":false,"schema":{"type":"string"}},{"name":"myscript-client-version","in":"header","required":false,"schema":{"type":"string"}},{"name":"hmac","in":"header","description":"The HMAC signature of the payload, using the secret hmac key that was given during registration and SHA-512 algorithm. See https://developer.myscript.com/support/account/registering-myscript-cloud/#computing-the-hmac-value","required":true,"schema":{"type":"string"}},{"name":"Accept","in":"header","description":"A comma-separated list of mime types for the response. Must contain application/json as the error response is a json object. The first suitable mime type for the recognition type will be used as content type for the response","required":true,"schema":{"type":"array","items":{"type":"string"}},"example":"text/plain, application/json"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchInput"}}},"required":true},"responses":{"400":{"description":"An error was found in the request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"200":{"description":"OK"},"401":{"description":"Wrong credentials","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"403":{"description":"Operation not permitted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"500":{"description":"Internal error. Please contact us for information.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"406":{"description":"No suitable mime type was found for the response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}}},"components":{"schemas":{"BeautificationConfiguration":{"type":"object","properties":{"enable":{"type":"boolean"}}},"Classification":{"type":"object","properties":{"types":{"uniqueItems":true,"type":"array","items":{"pattern":"^(text|math|shape|drawing|decoration)$","type":"string"}}}},"ConfigurationMessage":{"title":"Configuration","type":"object","properties":{"alwaysConnected":{"type":"boolean"},"lang":{"title":"lang","type":"string","example":"en_US"},"math":{"$ref":"#/components/schemas/MathConfiguration"},"text":{"$ref":"#/components/schemas/TextConfiguration"},"export":{"$ref":"#/components/schemas/ExportConfiguration"},"diagram":{"$ref":"#/components/schemas/DiagramConfiguration"},"gesture":{"$ref":"#/components/schemas/GestureConfiguration"},"shape":{"$ref":"#/components/schemas/ShapeConfiguration"},"verticalJapanese":{"type":"boolean"},"guidesEnabled":{"type":"boolean"},"raw-content":{"$ref":"#/components/schemas/RawContentConfiguration"},"stroke-max-point-count":{"type":"integer","format":"int32"}},"description":"The configuration for the recognition. See explanation for parameters in https://developer.myscript.com/docs/interactive-ink/latest/reference/web/configuration-rest/"},"CustomSk":{"title":"math.custom-sk","type":"object","properties":{"type":{"title":"math.custom-sk.type","type":"string","example":"Math Enabled Subset"},"content":{"title":"math.custom-sk.content","type":"string","example":"0 1 2 3 4 5 6 7 8 9 + - / ÷ . , = ( ) % SqrtRule FracRule"}}},"DiagramConfiguration":{"type":"object","properties":{"text":{"$ref":"#/components/schemas/TextConfConfiguration"},"convert":{"$ref":"#/components/schemas/DiagramConvertConfiguration"},"enable-sub-blocks":{"title":"diagram.enable-sub-blocks","type":"boolean","example":true},"session-time":{"title":"diagram.session-time","type":"integer","format":"int32","example":750},"eraser":{"$ref":"#/components/schemas/EraserConfiguration"}}},"DiagramConvertConfiguration":{"type":"object","properties":{"edge":{"title":"diagram.convert.edge","type":"boolean","example":true,"deprecated":true},"node":{"title":"diagram.convert.node","type":"boolean","example":true,"deprecated":true},"text":{"title":"diagram.convert.text","type":"boolean","example":true,"deprecated":true},"types":{"uniqueItems":true,"type":"array","items":{"pattern":"^(text|shape|math)$","type":"string"}},"matchTextSize":{"title":"diagram.convert.match-text-size","type":"boolean","example":true}}},"EraserConfiguration":{"title":"raw-content.eraser","type":"object","properties":{"erase-precisely":{"title":"eraser.erase-precisely","type":"boolean","example":false}}},"ExportConfiguration":{"type":"object","properties":{"image":{"$ref":"#/components/schemas/ImageConfiguration"},"jiix":{"$ref":"#/components/schemas/JiixConfiguration"},"mathml":{"$ref":"#/components/schemas/MathMLExport"},"image-resolution":{"title":"export.image-resolution","type":"integer","format":"int32","example":300}}},"GestureBehaviorConfiguration":{"type":"object","properties":{"behavior":{"type":"string"}}},"GestureConfiguration":{"type":"object","properties":{"enable":{"type":"boolean"},"ignoreGestureStrokes":{"type":"boolean"},"tap":{"$ref":"#/components/schemas/TapConfiguration"},"disabled-gestures":{"type":"array","items":{"pattern":"^(scratch-out|underline|double-underline|insert|join|strike-through|top-bottom|bottom-top|left-right|right-left|scratch|surround|tap|double-tap|long-press)$","type":"string"}},"underlines":{"$ref":"#/components/schemas/GestureBehaviorConfiguration"}}},"GuidesConfiguration":{"type":"object","properties":{"enable":{"title":"text.guides.enable","type":"boolean","example":true},"line-gap-mm":{"title":"text.guides.line-gap-mm","type":"integer","format":"int32","example":10},"origin-y-mm":{"title":"text.guides.origin-y-mm","type":"integer","format":"int32","example":100}}},"ImageConfiguration":{"title":"export.image","type":"object","properties":{"guides":{"title":"export.image.guides","type":"boolean"},"viewport":{"$ref":"#/components/schemas/ImageViewportConfiguration"}}},"ImageViewportConfiguration":{"title":"export.image.viewport","type":"object","properties":{"x":{"title":"export.image.viewport.x","type":"integer","format":"int32"},"y":{"title":"export.image.viewport.y","type":"integer","format":"int32"},"width":{"title":"export.image.viewport.width","type":"integer","format":"int32"},"height":{"title":"export.image.viewport.height","type":"integer","format":"int32"}}},"JiixConfiguration":{"type":"object","properties":{"strokes":{"title":"export.jiix.strokes","type":"boolean","example":true},"style":{"title":"export.jiix.style","type":"boolean","example":false},"ids":{"title":"export.jiix.ids","type":"boolean","example":true},"ranges":{"title":"export.jiix.ranges","type":"boolean","example":false},"primitives":{"title":"export.jiix.primitives","type":"boolean","example":true},"glyphs":{"title":"export.jiix.glyphs","type":"boolean","example":true},"shape":{"$ref":"#/components/schemas/JiixShapeConfiguration"},"bounding-box":{"title":"export.jiix.bounding-box","type":"boolean","example":false},"text":{"$ref":"#/components/schemas/JiixTextConfiguration"},"full-stroke-ids":{"title":"export.jiix.full-stroke-ids","type":"boolean","example":false}}},"JiixShapeConfiguration":{"type":"object","properties":{"candidates":{"title":"export.jiix.shape.candidates","type":"boolean","example":true}}},"JiixTextConfiguration":{"type":"object","properties":{"structure":{"title":"export.jiix.text.structure","type":"boolean","example":false},"chars":{"title":"export.jiix.text.chars","type":"boolean","example":false},"words":{"title":"export.jiix.text.words","type":"boolean","example":true},"lines":{"title":"export.jiix.text.lines","type":"boolean","example":true}}},"MarginConfiguration":{"type":"object","properties":{"top":{"title":"math.margin.top","type":"integer","format":"int32","example":10},"left":{"title":"math.margin.left","type":"integer","format":"int32","example":15},"right":{"title":"math.margin.right","type":"integer","format":"int32","example":15},"bottom":{"title":"math.margin.bottom","type":"integer","format":"int32","example":10}}},"MathConfiguration":{"type":"object","properties":{"solver":{"$ref":"#/components/schemas/SolverConfiguration"},"margin":{"$ref":"#/components/schemas/MarginConfiguration"},"customGrammarId":{"title":"math.customGrammarId","type":"string","example":"your_custom_grammar_id"},"customGrammarContent":{"title":"math.customGrammarContent","type":"string","example":"symbol = 0\\nexpression ::= identity(symbol)\\nstart(expression)"},"undo-redo":{"$ref":"#/components/schemas/UndoRedoConfiguration"},"session-time":{"title":"math.session-time","type":"integer","format":"int32","example":750},"eraser":{"$ref":"#/components/schemas/EraserConfiguration"},"recognition-timeout":{"title":"math.recognition-timeout","type":"integer","format":"int32","example":30},"custom-resources":{"title":"math.customResources","type":"array","example":["your_custom_resource"],"items":{"title":"math.customResources","type":"string","example":"[\"your_custom_resource\"]"}},"custom-sk":{"$ref":"#/components/schemas/CustomSk"}}},"MathMLExport":{"type":"object","properties":{"flavor":{"title":"export.mathml.flavor","type":"string","enum":["standard","ms-office"]}}},"RawContentConfiguration":{"type":"object","properties":{"recognition":{"$ref":"#/components/schemas/Recognition"},"classification":{"$ref":"#/components/schemas/Classification"},"text":{"$ref":"#/components/schemas/TextConfConfiguration"},"gestures":{"title":"gestures","uniqueItems":true,"type":"array","items":{"title":"gestures","type":"string"}},"session-time":{"title":"raw-content.session-time","type":"integer","format":"int32","example":750},"eraser":{"$ref":"#/components/schemas/EraserConfiguration"}}},"Recognition":{"type":"object","properties":{"text":{"type":"boolean","deprecated":true},"shape":{"type":"boolean","deprecated":true},"types":{"uniqueItems":true,"type":"array","items":{"pattern":"^(text|math|shape)$","type":"string"}}}},"RecognizeInput":{"required":["contentType","scaleX","scaleY","strokes"],"type":"object","properties":{"contentType":{"title":"recognition type","type":"string","enum":["Text","Math","Diagram","Raw Content","Text Document","Gesture","Shape"]},"strokes":{"title":"a list of strokes","type":"array","items":{"$ref":"#/components/schemas/Stroke"}},"configuration":{"$ref":"#/components/schemas/ConfigurationMessage"},"scaleX":{"title":"scale to convert input horizontal coordinates unit into mm (for example for pixels inputs inches-to-mm / x-resolution-dpi = 25.4 / 96 = 0.265)","type":"number","format":"float","example":0.265},"scaleY":{"title":"scale to convert input vertical coordinates unit into mm (for example for pixels inputs inches-to-mm / y-resolution-dpi = 25.4 / 96 = 0.265)","type":"number","format":"float","example":0.265}},"description":"The input of the recognition, including configuration, strokes, ..."},"ShapeConfiguration":{"type":"object","properties":{"beautification":{"$ref":"#/components/schemas/BeautificationConfiguration"}}},"SolverConfiguration":{"type":"object","properties":{"enable":{"title":"math.solver.enable","type":"boolean","example":true},"fractional-part-digits":{"title":"math.solver.fractional-part-digits","type":"integer","format":"int32","example":3},"decimal-separator":{"title":"math.solver.decimal-separator","type":"string","example":"."},"rounding-mode":{"title":"math.solver.rounding-mode","type":"string","example":"half up","enum":["half up","truncate"]},"angle-unit":{"title":"math.solver.angle-unit","type":"string","example":"deg","enum":["deg","rad"]},"fraction-mode":{"title":"math.solver.fraction-mode","type":"string","example":"decimal","enum":["decimal","rational","mixed"]},"options":{"title":"math.solver.options","type":"string","example":"algebraic","enum":["algebraic","numeric"]}}},"Stroke":{"title":"Stroke","required":["x","y"],"type":"object","properties":{"id":{"title":"An optional id for the stroke","type":"string"},"x":{"title":"The list of x coordinates of the stroke","type":"array","example":[289,290,290,290,290,290,290,291,291,292,293],"items":{"title":"The list of x coordinates of the stroke","type":"number","format":"float"}},"y":{"title":"The list of y coordinates of the stroke","type":"array","example":[215,218,222,225,228,231,235,238,242,245,248],"items":{"title":"The list of y coordinates of the stroke","type":"number","format":"float"}},"t":{"title":"The list of timestamps of the stroke","type":"array","example":[1516717383637,1516717383677,1516717383694,1516717383711,1516717383727,1516717383744,1516717383761,1516717383777,1516717383794,1516717383811,1516717383827],"items":{"title":"The list of timestamps of the stroke","type":"integer","format":"int64"}},"p":{"title":"The list of pressure information of the stroke","type":"array","example":[0.5,0.8221720589961077,0.7145158745241171,0.6761535882018319,0.6761535882018319,0.6761535882018319,0.7145158745241171,0.6831899108492184,0.7145158745241171,0.6831899108492184,0.6831899108492184],"items":{"title":"The list of pressure information of the stroke","type":"number","format":"float"}},"pointerType":{"title":"The pointer type for the stroke","type":"string","enum":["PEN, TOUCH, ERASER"]},"pointerId":{"title":"The pointer id","type":"integer","format":"int32"},"fullStrokeId":{"title":"An optional id of the full stroke the sub-stroke belongs to","type":"string"}},"description":"Representation of a stroke, that is the capture of an user writing input between the moment when the writing device touches the writing surface and the moment when it is lifted from the surface. See https://developer.myscript.com/docs/interactive-ink/latest/web/myscriptjs/editing/ for information about the components of a stroke"},"TapConfiguration":{"type":"object","properties":{"spacing-mm":{"type":"integer","format":"int32"}}},"TextConfConfiguration":{"title":"raw-content.text","type":"object","properties":{"customResources":{"title":"text.configuration.customResources","type":"array","example":["your_custom_resource"],"items":{"title":"text.configuration.customResources","type":"string","example":"[\"your_custom_resource\"]"}},"customLexicon":{"title":"text.configuration.customLexicon","type":"array","example":["word1","word2"],"items":{"title":"text.configuration.customLexicon","type":"string","example":"[\"word1\",\"word2\"]"}},"addLKText":{"title":"text.configuration.addLKText","type":"boolean","example":true},"name":{"title":"text.configuration.name","type":"string","example":"text-superimposed"}}},"TextConfiguration":{"type":"object","properties":{"margin":{"$ref":"#/components/schemas/MarginConfiguration"},"guides":{"$ref":"#/components/schemas/GuidesConfiguration"},"configuration":{"$ref":"#/components/schemas/TextConfConfiguration"},"eraser":{"$ref":"#/components/schemas/EraserConfiguration"}}},"UndoRedoConfiguration":{"title":"math.undo-redo","type":"object","properties":{"mode":{"title":"math.undo-redo.mode","type":"string","enum":["stroke","session","stroke,session"]}}},"ErrorMessage":{"title":"Error message","type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}},"ContextLessGestureInput":{"required":["strokeGroups"],"type":"object","properties":{"strokeGroups":{"title":"The write entries that corresponds to the input iink","type":"array","items":{"$ref":"#/components/schemas/StrokeGroup"}},"scaleX":{"title":"scale to convert input horizontal coordinates unit into mm,","minimum":0,"type":"number","format":"float"},"scaleY":{"title":"scale to convert input vertical coordinates unit into mm,","minimum":0,"type":"number","format":"float"}},"description":"The input of the recognition, including configuration, strokes, ..."},"StrokeGroup":{"title":"StrokeGroup","required":["strokes"],"type":"object","properties":{"strokes":{"title":"a list of strokes","type":"array","items":{"$ref":"#/components/schemas/Stroke"}},"penStyle":{"title":"CSS style for the pen. See https://developer.myscript.com/docs/interactive-ink/latest/reference/web/styling/","type":"string","example":"color: #120f51;↵-myscript-pen-width: 2;"},"penStyleClasses":{"title":"CSS classes for the pen. Classes are to be provided in the general CSS theme. See https://developer.myscript.com/docs/interactive-ink/latest/reference/web/styling/","type":"string","example":"ink mycolor"}},"description":"a list of strokes that share the same pen style"},"BatchInput":{"required":["contentType","strokeGroups"],"type":"object","properties":{"width":{"title":"width of the writing area","minimum":0,"type":"integer","format":"int32","example":722},"height":{"title":"height of the writing area","minimum":0,"type":"integer","format":"int32","example":620},"contentType":{"title":"recognition type","type":"string","enum":["Text","Math","Diagram","Raw Content","Text Document","Gesture","Shape"]},"conversionState":{"title":"target of conversion, no conversion will be made if that parameter is not provided","type":"string","description":"DIGITAL_PUBLISH not supported yet","example":"DIGITAL_EDIT","enum":["DIGITAL_PUBLISH","DIGITAL_EDIT"]},"theme":{"title":"A global CSS styling for your content. See https://developer.myscript.com/docs/interactive-ink/latestweb/myscriptjs/styling/","type":"string","example":"ink {color: #000000; -myscript-pen-width: 1; -myscript-pen-fill-style: none; -myscript-pen-fill-color: #FFFFFF00;} mycolor {color: #120f51;} .math { font-family: STIXGeneral;} .math-solved {font-family: STIXGeneral; color: #A8A8A8FF;} .text {font-family: Open Sans; font-size: 10;}"},"strokeGroups":{"title":"The write entries that corresponds to the input iink","type":"array","items":{"$ref":"#/components/schemas/StrokeGroup"}},"configuration":{"$ref":"#/components/schemas/ConfigurationMessage"},"xDPI":{"title":"x resolution of the writing area in dpi","minimum":0,"type":"number","format":"float","example":96},"yDPI":{"title":"y resolution of the writing area in dpi","minimum":0,"type":"number","format":"float","example":96}},"description":"The input of the recognition, including configuration, strokes, ..."}},"securitySchemes":{"applicationKey":{"type":"apiKey","description":"Moreover the calls must be signed using the content of the payload and an hmac key. See https://developer.myscript.com/docs/interactive-ink/1.4/web/rest/architecture/#credentials","name":"applicationKey","in":"header"}}}}